.BottomButton {
  height: 100%;
  border: none;
  height: 50px;
  background-color: $base-elements;
  color: $light;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  cursor: pointer;

  & > * {
    align-items: center;
  }

  &-Icon {
    margin-right: 5px;
  }
}
