$white: #ffffff;
$dark_blue: #0e0f17;
$gray: #303944;
$green: #1a402e;
$red: #f64f4f;
$blue: #2D3369;

$light: $white;
$base_bg: $dark_blue;
$base_elements: $gray;
$base_elements_2: $blue;
$success: $green;
$alert: $red;