@font-face {
  font-family: 'Roboto Medium';
  src: url('./Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Finger Paint';
  src: url('./FingerPaint-Regular.ttf') format('truetype');
  font-display: swap;
}