@import "./styles/reset";
@import "./styles/colors";
@import "./styles/colors";
@import "./styles/variable";
@import "./styles/mixin";
@import "./styles/grid";
@import "./styles/common";
@import "./fonts/fonts";
@import "./components/layout/Header/header";
@import "./components/layout/Content/content";
@import "./components/layout/Bottom/bottom";
@import "./components/Logo/logo";
@import "./components/Login/login";
@import "./components/Menu/menu";
@import "./components/BottomButton/bottomButton";
@import "./components/ImageView/imageView";
@import "./components/TextInfo/textInfo";
@import "./components/OpenTextInfo/openTextInfo";
@import "./components/TextPart/textPart";
@import "./components/TextForReading/textForReading";
@import "./components/Button/button";
@import "./components/WordTranslation/wordTranslation";

.App {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  margin: 0 auto;
  background-color: $base-bg;
  font-family: "Roboto", sans-serif;
  color: $light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
